################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Console/bin/Debug/net8.0
/Console/obj
/Tests/obj
